<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bonus Hunt Overlay</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/o-bonushunt.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="bonus-hunt-overlay">
        <div class="top-bar">
            <div class="hunt-name" id="hunt-name"></div>
            <div class="hunt-stats">
                <div id="stat-item-1" class="stat-item"></div>
                <div class="vertical-divider"></div>
                <div id="stat-item-2" class="stat-item"></div>
                <div class="vertical-divider"></div>
                <div id="stat-item-3" class="stat-item"></div>
                <div class="vertical-divider"></div>
                <div id="stat-item-4" class="stat-item"></div>
                <div class="vertical-divider"></div>
                <div id="stat-item-5" class="stat-item"></div>
            </div>
            <div class="progress-container">
                <span class="bonuses-label">BONUSES:</span>
                <div class="progress-bar">
                    <div id="progress-fill" class="progress-fill"></div>
                </div>
                <span id="bonuses-count" class="bonuses-count"></span>
            </div>
        </div>
        <div class="main-container">
            <div id="win-container" class="win-container">
                <!-- Best/Worst bonus content -->
            </div>
            <div class="vertical-dividerB"></div>
            <div class="bonus-cards-container">
                <div id="bonus-cards-wrapper" class="bonus-cards-wrapper">
                    <!-- Bonus cards content -->
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/o-bonushunts.js') }}"></script>
</body>
</html>